/**
* @name ANTHONUS Rounded
* @author ANTHONUS
* @description Add a custom background on the chat and friend list of discord !
* @version 1.0.0
*/

@import url("https://anthonus-games.bandicoot-canopus.ts.net/Perso/Discord-themes/ANTHONUSBackground.css");

:root {
    --background-image: url("https://anthonus-games.bandicoot-canopus.ts.net/perso/discord-themes/bondrewd.gif"); /* Url of background image */
    --blur-amount: 2px; /* amount of background blur (recommended to be >1 for less screen artifacts*/
    --opacity-amount: 25%; /* Opacity of background-image.*/
}