/* ANTHONUS Background */

.chatContent_f75fb0::before,
/* background chat */
.peopleColumn__133bf::before
/* background friend list */
{
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: linear-gradient(rgba(0, 0, 0, var(--opacity-amount)), rgba(0, 0, 0, var(--opacity-amount))), var(--background-image);
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
filter: blur(var(--blur-amount));
}

.chatContent_f75fb0,
/* background chat */
.peopleColumn__133bf
/* background friend list */
{
position: relative;
backdrop-filter: blur(var(--blur-amount));
background-color: rgba(0, 0, 0, 0.377);
}

.wrapper_d852db,
.wrapper_fc8177
/* workaround for charging messages */
{
background: none;
}


.theme-dark .message__5126c.selected__5126c,
.theme-dark.mouse-mode.full-motion .message__5126c:hover,
.theme-light .message__5126c.selected__5126c,
.theme-light.mouse-mode.full-motion .message__5126c:hover
/* Workaround for nitro themes */
{
background: rgba(0, 0, 0, 0.30);
}
