/**
* @name ANTHONUS Background
* @author ANTHONUS
* @description Add a custom background on the chat and friend list of discord !
* @version 1.1.2
*/

@import url("https://anthonuss.github.io/DiscordBackground/ANTHONUSBackground.css");

:root {
    --background-image: url("https://anthonus.bandicoot-canopus.ts.net/discord-themes/Backgrounds/GoT/forest.png"); /* Url of background image*/
    --blur-amount: 1px; /* amount of background blur (recommended to be >1 for less screen artifacts*/
    --opacity-amount: 50%; /* Opacity of background-image.*/
}
